@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;

h1 {
    color: white;
}



header, main, footer{
    padding-top: 10px;
}
main{
    background-color: $brand_primary;
};
img{
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


// FOOTER 

FOOTER{
    background-image: url(/public/img/footer-bg.jpg);
}




